<div class="page-width">
{% for writing in section.blocks %}

<p class="custom-menu-paragraph">{{ writing.settings.paragraph }}</p>

{% endfor %}
</div>

<style>
    .page-width {
        padding-right: 0px;
    }

    .custom-menu-paragraph {
        font-family: 'Lato', sans-serif;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: 375px) {
        .page-width {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 491px) {

}
</style>

{% schema %}
{
    "name" : "Menu Descripion",
    "class" : "menu-paragraphs-section",
    "settings" : [
    {
        "id" : "title",
        "type" : "text",
        "label" : "Section Title",
        "default" : "Default"
    }
],
"blocks" : [
    {
        "name" : "Paragraphs",
        "type" : "menu-description",
        "settings" : [
        {
            "id" : "paragraph",
            "type" : "richtext",
            "label" : "Write Your Paragraph"
        }
        ]
    }
    ]
}
{% endschema %}