/* CUSTOM BY ADIS TEKESIC */

/* Roboto text import from Google.*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');
/* Lato text import from Google.*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    letter-spacing: 1.6;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 30px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 30px;
}

.custom-heading {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    letter-spacing: 1.6;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 35px;
}

.custom-paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 35px;
}

a {
    text-decoration: underline;
}

.overlay {
    position: relative;
    z-index: 9999;
    opacity: 1;
}

.menu-button {
    position: fixed;
    bottom: 0;    
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 300px;
    height: 75px;
    border: 5px solid white;
    backdrop-filter: blur(7px);
    border-radius: 1%;
    opacity: 1;
}

.menu-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    opacity: 1;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    color: white;
    border: 3px solid white;
    position: fixed;
    width: 250px;
    align-self: center;
    z-index: 99999;
    opacity: 1;
}

.menu-button-text {
    margin: 0;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-align: center;
    z-index: 99999;
    opacity: 1;
}

.intro {
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding-top: 75px;
    padding-bottom: 50px;
}

.intro-text {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 30px;
    line-height: 50px;
    width: 80%;
    font-size: 21px;
}

.intro-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-image {
    width: 80%;
    height: auto;
}

.heart {
    margin-top: -5px;
    position: relative;
    min-width: 41px;
    max-width: 41px;
    min-height: 41px;
    max-height: 41px;
    top: 10px;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 10%;
    padding-bottom: 50px;
}

.arrow {
    position: relative;
    padding-bottom: 40px;
    padding-top: 10px;
    align-self: center;
    width: 5%;
    height: 15%;
    /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
    animation: bounce 1800ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
}
  
  .arrow-down {
    height: 5px;
    background: white;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    border-radius: 5px;
  }
  .arrow-down:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: white;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
  
  @keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  }

.card-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 40px;
    justify-content: center;
    color: white;
    background-color: black;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    padding-right: 22px;
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    background-color: rgba(255, 255, 255);
    width: 75%;
    backdrop-filter: blur(10px);
    border-radius: 17px;
    border: 1px solid white;
}

.card-image {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 12px;
}

.text {
    margin-left: 20px;
}

.text-2 {
    margin-left: 20px;
}

.white-text-block-button {
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
    margin-top: -20px;
    margin-bottom: 70px;
    margin-right: 170px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4;
    margin-top: 25px;
    margin-left: 25px;
}

.black-text-block-button {
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    margin-top: -20px;
    margin-bottom: 70px;
    margin-right: 170px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4;
    margin-top: 25px;
    margin-left: 25px;
}

.text-block {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-block > h1 {
    margin-top: 25px;
}

.text-block > p {
    margin-bottom: 55px;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D1F0FF;
    padding-top: 20px;
}

.logo-heading {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    font-weight: 700;
}

.logo-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos-image-vertical {
    width: 95%;
    padding-bottom: 40px;
}

.text-image {
    width: 92%;
}

.text-block-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
}

.text-block-2 > h1 {
    margin-top: 25px;
}

.text-block-2 > p {
    margin-bottom: 55px;
}

.cakes {
    width: 92%;
    margin-top: 40px;
    padding-top: 20px;
    background-color: rgb(248, 224, 185);
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  rgb(245, 245, 245);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.cta-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border: 7px solid rgb(46, 46, 46);
    width: 80%;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cta-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-image-horizontal {
    width: 92%;
    height: auto;
}

.cta-message > h1 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 5px;
}

.cta-message > p {
    margin-right: 0;
    margin-left: 0;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 30px;
}


.crystal-block-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.crystal-block {
    width: 70%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 375px) {

    .intro-text {
        margin-top: 25px;
        font-size: 24px;
    }

    .intro-text-2 {
        display: none;
    }

    .logos-heading {

    }

    .logos-image-vertical {
        width: 95%;
    }

    .cta-image-vertical {
        display: none;
    }

    .logos-image-horizontal {
        display: none;
    }

    .cakes-2 {
        display: none;
    }
}
@media screen and (min-width: 376px) and (max-width: 820px) {

.menu-button-container {
    display: none;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.intro-text-2 {
display: none;
}

.intro-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-right: 15px;
}

.intro-text {
    width: 300px;
    font-size: 20px;
    margin: 25px;
    margin-right: 15px;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

.text-image {
    width: 80%;
    height: auto;
    margin: 0px;
}

.text {
    width: 85%;
}

.text > h1 {
    letter-spacing: 1.6;
    text-align: left;
}

.text > p {
    letter-spacing: 1.6;
    text-align: left;
}

.white-text-block-button {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cta-banner-container {
    height: 250px;
}

.cta-banner > p {
    margin-top: 0px;
}

.text-block-container-2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.text-block-2 {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.cakes {
    display: none;

}

.cakes-2 {
    width: 80%;
    height: auto;
    margin: 20px;
    background-color: rgb(248, 224, 185);

}

.text-2 {
    width: 85%;
}

.text-2 > h1 {
    letter-spacing: 1.6;
    text-align: left;
}

.text-2 > p {
    letter-spacing: 1.6;
    text-align: left;
}

.black-text-block-button {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
}

.cta-message {
    width: 300px;
    height: 550px;
    margin: 25px;
    padding: 30px;
}

.cta-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-image-horizontal {
    width: 80%;
    height: auto;
    margin: 25px;
}

.arrow-container, .arrow {
    padding-top: 40px;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-heading {
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.logos-image-horizontal {
    display: none;
}

.logos-image-vertical {
    width: 55%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.cta-image-vertical {
    display: none;
}
}

@media screen and (min-width: 825px) and (max-width: 1179px) {

.menu-button-container {
    display: none;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 250px;

}

.intro-text {
    display: none;
}

.intro-text-2 {
    font-size: 40px;
    padding-right: 0px;
    width: 500px;
    height: auto;
    padding-bottom: 40px;
}


.intro-image {
    width: 500px;
    height: auto;
}

.arrow {
    padding-top: 50px;
    padding-bottom: 100px;
}

.cakes-2 {
    display: none;
}

.logos-image-vertical {
    display: none;
}

.logo-heading {
    padding-bottom: 10px;
}

.logos-image-horizontal {
    padding-bottom: 25px;
}

.cta-image-vertical {
    display: none;
}

.cta-container {
    padding-top: 0px;
}

.cta-message {
    width: 60%;
}
}

@media screen and (min-width: 1180px) {

.menu-button-container {
display: none;
}

.intro {
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
justify-content: center;
}

.intro-text-2 {
display: none;
}

.intro-image {
width: 500px;
height: auto;
margin-top: 80px;
margin-right: 30px;
}

.intro-text {
width: 500px;
font-size: 40px;
margin: 50px;
margin-right: 30px;
}

.text-block {
display: flex;
flex-direction: row;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 5px;
padding-right: 5px;
}

.text-image {
width: 500px;
height: auto;
margin: 40px;
}

.text-block > h1 {
letter-spacing: 10px;
margin-left: 20px;
text-align: left;
width: 500px;
}

.text > p {
display: flex;
text-align: left;
letter-spacing: 1.6;
width: 500px;

}

.cta-banner-container {
height: 300px;
}

.cta-banner > p {
margin-top: 0px;
}

.text-block-2 {
display: flex;
flex-direction: row-reverse;
align-items: center;
align-content: center;
justify-content: none;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 5px;
padding-right: 5px;
}

.cakes {
display: none;

}

.cakes-2 {
width: 500px;
height: auto;
background-color: rgb(248, 224, 185);
margin: 40px;
padding-top: 40px;
}

.text-block-2 > h1 {
letter-spacing: 10px;
margin-left: 20px;
text-align: left;
width: 500px;
}

.text-2 > p {
display: flex;
letter-spacing: 1.6;
text-align: left;
width: 500px;
}

.white-text-block-button {
margin: 20px;
}

.black-text-block-button {
margin: 20px;
}


.cta-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: none;
overflow: hidden;
}

.cta-message {
width: 500px;
height: 750px;
margin: 25px;
padding: 30px;
}

.cta-image-horizontal {
width: 700px;
height: auto;
margin: 25px;
}

.arrow-container, .arrow, .arrow-down {
display: none;
}

.logos {
padding-top: 25px;
}

.logo-heading {
font-weight: 700;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

.logos-image-horizontal {
width: 1000px;
height: auto;
margin-bottom: 40px;
}

.logos-image-vertical {
display: none;
}

.cta-image-vertical {
display: none;
}
}

/* MENU PAGE */

.chip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(162.46deg, #FFF4D8 0%, #FEEFC6 100%);
}

.sprinkles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 221, 221, 100%);
}

.oreos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(240, 240, 240);
}

.doublechocolate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 241, 221, 100%);
}

.rainbow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(221, 249, 255, 100%);
}

.pretzel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255,216,158,1);
}

.cta-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.cta-menu {
    display: flex;
    flex-direction: column;
}



.glass-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(1px);
    border-radius: 50px;
    margin-top: 40px;
    padding: 20px;
}

.chip, .sprinkles, .oreos, .doublechocolate, .rainbow, .pretzel {
    width: 100%;
    margin-top: -70px;
}

.cta-cakes {
    position: relative;
    width: 80%;
    align-self: center;
    background-color: rgba(255, 216, 158);
    margin-top: -40px;
}

.cta-button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: black;
    color: white;
}

.cta-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 248, 245);
    width: 100%;
    height: 300px;
}

.cta-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cta-banner > p {
    color:  rgb(255, 182, 182);
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}

.cta-banner > h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

@media screen and (min-width: 500px) {
    .glass-block {
        width: 60%;
    }

    .glass-block > h1 {
        font-size: 35px;
    }

    .glass-block > p {
        font-size: 25px;
    }
}

@media screen and (min-width: 760px) {
    .glass-block {
        width: 40%;
    }

    .glass-block > h1 {
        font-size: 40px;
    }

    .glass-block > p {
        font-size: 27px;
    }
}

@media screen and (min-width: 1179px) {

    .text-block-2 {
        display: flex;
        flex-direction: column;
        background-color: white;
        color: black;
        align-items: center;
        justify-content: center;
    }
    
    .menu-heading {
        text-align: center;
    }

    /* CHIP */
    .chip-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .chip-image-container {
        display: flex;
    }


    .chip {
        width: 100%;
        left: 0;
    }

    /* SPRINKLES */
    .sprinkles-container {
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .sprinkles-image-container {
        display: flex;
    }


    .sprinkles {
        width: 100%;
        right: 0;
    }

    /* OREOS */
    .oreos-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .oreos-image-container {
        display: flex;
    }


    .oreos {
        width: 100%;
        right: 0;
    }

    /* DOUBLE CHOCOLATE */
    .doublechocolate-container {
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .doublechocolate-image-container {
        display: flex;
    }


    .doublechocolate {
        width: 100%;
        right: 0;
    }

    /* RAINBOW */
    .rainbow-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .rainbow-image-container {
        display: flex;
    }


    .rainbow {
        width: 100%;
        right: 0;
    }

    /* PRETZEL */
    .pretzel-container {
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .pretzel-image-container {
        display: flex;
    }


    .pretzel {
        width: 100%;
        right: 0;
    }

    .cta-menu-container {
        padding-bottom: 40px;
    }

    .cta-menu {
        display: flex;
        width: 90%;
    }

    .cta-button {
        align-self: start;
    }

    .cta-cakes {
        width: 90%;
    }

}

/* Seasonal Menu Component */

.section-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.seasonal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seasonal-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seasonal-image {
    width: 90%;
    height: auto;
    margin: 10px;
    padding-top: 20px;
}

.seasonal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-container {
    display: flex;
    flex-direction: row;
}

.seasonal-heading {
    margin-top: 0px;
    padding-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seasonal-paragraph > p {
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

/* ABOUT PAGE */

.about-block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(25, 25, 25);
    width: 100%;
    height: 650px;
    background-color: rgb(255, 226, 182);
}

.image-block-1 {
    width: 75%;
}

.about-block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(25, 25, 25);
    width: 100%;
    height: 650px;
    background:  #D1F0FF;
    background-repeat: no-repeat;
    background-size: 120% 120%;
}

.image-block-2 {
    width: 80%;
}

.about-block-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(25, 25, 25);
    width: 100%;
    height: 650px;
    background: rgb(255, 221, 228);
    background-repeat: no-repeat;
    background-size: 120% 120%;
}

.image-block-3 {
    width: 80%;
}


.about-founder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 800px;
}

.about-block-1, .about-block-2, .about-block-3 {
    height: 900px;
}

.about-founder-text-container, .about-founder-text-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-founder-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.about-founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(48, 48, 48);
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.text-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-founder-heading {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

.about-founder-heading-small {
    font-size: 16px;
    font-weight: 600;
    text-align: center; 
    margin-top: -5px;
    padding-bottom: 5px;   
}

.about-founder-text {
    color: rgb(48, 48, 48);
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    margin-top: 15px;
    padding-bottom: 10px;
}

.about-image {
    width: 175px;
    height: auto;
    margin-bottom: 15px;
}

.about-heading {
    font-size: 30px;
    font-weight: 500;
    padding-top: 0;
    margin-bottom: 20px;
}

.about-paragraph {
    font-size: 24px;
    margin-bottom: 25px;
}

@media screen and (max-width: 376px) {
    .about-heading {
    font-size: 25px;
    margin-bottom: 20px;
}

.about-paragraph {
    width: 80%;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 25px;
}

}

@media screen and (min-width: 376px) {
    .about-paragraph {
        width: 80%;
        font-size: 18px;
    }

    .about-founder-text {
        font-size: 18px;
    }

    .image-block-1, .image-block-2, .image-block-3 {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 300px;
    }

}

@media screen and (min-width: 820px) {
    .about-paragraph {
        width: 80%;
        font-size: 20px;
    }

    .image-block-1, .image-block-2, .image-block-3 {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 350px;
    }

    .about-founder-text {
         font-size: 20px;
    }

    .about-founder-container-2 {
        height: 800px;
    }

}

@media screen and (min-width: 1179px) {
    .about-block-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .about-block-2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .about-block-3 {
        display: flex;
        flex-direction: row;
    }

    .text-about {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 40px;
    }

    .about-founder {
        display: flex;
        flex-direction: column;
    }

    .about-founder-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 750px;
    }

    .about-founder-container-2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 700px;
    }

    .about-founder-heading {
        font-size: 24px;
    }

    .about-founder-heading-small {
        font-size: 20px;
    }

    .about-founder-text-container {
        font-size: 20px;
        margin-left: 50px;
        width: 500px;
        align-items: center;
        justify-content: center;
    }

    .about-founder-text-container-2 {
        font-size: 20px;
        width: 500px;
        margin-right: 50px;
        align-items: center;
        justify-content: center;
    }

    .about-founder-text {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .about-image {
        width: 225px;
    }

    .image-block-1, .image-block-2 {
        width: 500px;
        height: auto;
        margin: 30px;
    }

    .image-block-3 {
        width: 400px;
        height: auto;
        margin: 30px;
    }
    
    .image-block-1, .image-block-2, .image-block-3 {
        width: 300px;
    }

    .about-paragraph {
        font-size: 20px;
    }

    .about-image {
        width: 200px;
    }

    .about-founder-heading {
        font-size: 22px;
    }

    .about-founder-heading-small {
        font-size: 18px;
    }

    .about-founder-text-container {
        margin-left: 0px;
    }

    .about-founder-text-container-2 {
        margin-right: 0px;
    }

    .about-founder-text {
        font-size: 20px;
    }



}