{% comment %}
  Your home page is build up of sections, the code for each living in
  the sections/ director.
{% endcomment %}

<body>
  <div class="menu-block"></div>
  <div class="intro">
      <p class="intro-text">
          We’re Chicago’s
          Most Iconic Vegan 
          Bakery And We Bake
          Everything With <br>
          Extra Love.<img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/white_heart.png?v=1612235352" class="heart"></p>
          <div>
              <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/doublechocolate.png?v=1605238727" class="intro-image">
          </div>
          </div>
  </div>
  <div class="arrow-container">
      <div class="arrow">
          <div class="arrow-down"></div>
      </div>
  </div>
<div class="text-block-container">
  <div class="text-block">

          <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/pie-store.jpg?v=1612235419" class="text-image">
          
          <div class="text">
          <h1>One Bakery,One Mission</h1>
          <p>Going vegan use to mean putting up with bland dessert. That's when I realized it didn't have to be this way! I started baking vegan treats that I really craved after that initial bite. And so I kept baking and baking... </p>
          <button class="white-text-block-button">Read More</button>

        </div>
    </div>
</div>
  <div class="cta-banner-container">
  <div class="cta-banner">
          <p>Tasty, vegan, and fresh.</p>
          <h1>It's time to pick</h1>
  </div>
  </div>
<div class="text-block-container-2">
  <div class="text-block-2">

      <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/background-cakes2.png?v=1612235648" class="cakes">
      <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/background-cakes2.png?v=1612235648" class="cakes-2">

      <div class="text-2">
      <h1>One Bakery,One Mission</h1>
      <p>Going vegan use to mean putting up with bland dessert. That's when I realized it didn't have to be this way! I started baking vegan treats that I really craved after that initial bite. And so I kept baking and baking... </p>
      <button class="black-text-block-button">Read More</button>
      </div>

  </div>
</div>
  <div class="logos">
      <div class="logo-heading-contnainer">
      <h1 class="logo-heading">FEATURED ON</h1>
      </div>
      <div class="logo-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/brands-final.png?v=1612235713" class="logos-image-vertical">
      <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/Brands_-_Horizontal.png?v=1612378540" class="logos-image-horizontal">
      </div>
    </div>
  <div class="cta-container">
      <div class="cta-message">
          <h1>FAQ</h1>
          <p>We've answered all of your common questions on our "Frequently Asked Questions" page. <br> <br> Take a look at it in case you may be wondering how to get your hands on some of our treats.</p>
          <a class="link">Find answers here</a>
      </div>

      <div class="cta-image-container">
      <img class="cta-image-horizontal" src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/heather_bcf165e0-731d-4fc5-b273-f797ed4d8046.jpg?v=1612235736">
      <img class="cta-image-vertical" src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/vertical-heather.jpg?v=1612378535">
    </div>
</div>
</body>
{{ content_for_index }}

<style>
    @media screen and (max-width: 375px) {
        .cta-image-vertical {
            display: none;
        }

        .logos-image-horizontal {
            display: none;
        }

        .cakes-2 {
            display: none;
        }
    }
    @media screen and (min-width: 376px) and (max-width: 820px) {

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .intro-image {
        width: 300px;
        height: auto;
        margin-top: 20px;
        margin-right: 15px;
    }

    .intro-text {
        width: 300px;
        font-size: 20px;
        margin: 25px;
        margin-right: 15px;
    }

    .text-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .text-image {
        width: 80%;
        height: auto;
        margin: 20px;
    }

    .text {
        width: 75%;
    }

    .text > h1 {
        letter-spacing: 1.6;
        text-align: left;
    }

    .text > p {
        letter-spacing: 1.6;
        text-align: left;
    }

    .white-text-block-button {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .cta-banner-container {
        height: 250px;
    }

    .cta-banner > p {
        margin-top: 0px;
    }

    .text-block-container-2 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .text-block-2 {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .cakes {
        display: none;

    }

    .cakes-2 {
        width: 80%;
        height: auto;
        margin: 20px;
        background-color: rgb(248, 224, 185);

    }

    .text-image {
        width: 70%;
        height: auto;
        margin: 20px;
    }

    .text-2 {
        width: 75%;
    }

    .text-2 > h1 {
        letter-spacing: 1.6;
        text-align: left;
    }

    .text-2 > p {
        letter-spacing: 1.6;
        text-align: left;
    }

    .black-text-block-button {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }


    .cta-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .cta-message {
        width: 300px;
        height: 550px;
        margin: 25px;
        padding: 30px;
    }

    .cta-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cta-image-horizontal {
        width: 80%;
        height: auto;
        margin: 25px;
    }

    .arrow-container, .arrow, .arrow-down {
        display: none;
    }

    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .logo-heading {
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .logos-image-horizontal {
        display: none;
    }

    .logos-image-vertical {
        width: 55%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .cta-image-vertical {
        display: none;
    }
}

@media screen and (min-width: 1180px) {

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.intro-image {
    width: 500px;
    height: auto;
    margin-top: 40px;
    margin-right: 30px;
}

.intro-text {
    width: 500px;
    font-size: 40px;
    margin: 50px;
    margin-right: 30px;
}

.text-block {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.text-image {
    width: 500px;
    height: auto;
    margin: 40px;
}

.text-block > h1 {
    letter-spacing: 10px;
    margin-left: 20px;
    text-align: left;
    width: 500px;
}

.text > p {
    display: flex;
    text-align: left;
    letter-spacing: 1.6;
    width: 500px;
    margin-left: 20px;

}

.cta-banner-container {
    height: 300px;
}

.cta-banner > p {
    margin-top: 0px;
}

.text-block-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    justify-content: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.cakes {
    display: none;

}

.cakes-2 {
    width: 500px;
    height: auto;
    background-color: rgb(248, 224, 185);
    margin: 40px;
    padding-top: 40px;
}

.text-block-2 > h1 {
    letter-spacing: 10px;
    margin-left: 20px;
    text-align: left;
    width: 500px;
}

.text-2 > p {
    display: flex;
    letter-spacing: 1.6;
    text-align: left;
    width: 500px;
}

.white-text-block-button {
    margin: 20px;
}

.black-text-block-button {
    margin: 20px;
}


.cta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: none;
    overflow: hidden;
}

.cta-message {
    width: 500px;
    height: 750px;
    margin: 25px;
    padding: 30px;
}

.cta-image-horizontal {
    width: 700px;
    height: auto;
    margin: 25px;
}

.arrow-container, .arrow, .arrow-down {
    display: none;
}

.logos {
    padding-top: 25px;
}

.logo-heading {
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logos-image-horizontal {
    width: 1000px;
    height: auto;
    margin-bottom: 40px;
}

.logos-image-vertical {
    display: none;
}

.cta-image-vertical {
    display: none;
}
}
</style>