{% comment %}
  Your home page is build up of sections, the code for each living in
  the sections/ director.
{% endcomment %}

<body style="display: flex;
flex-direction: column;
justify-content: center;
align-items: center;">
<div class="menu-button"><button>Look At Menu</button></div>
  <div class="menu-block"></div>
  <div class="intro">
      <p class="intro-text">
          We’re Chicago’s
          Most Iconic Vegan 
          Bakery And We Bake
          Everything With
          Extra<br>Love.<img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/white_heart.png?v=1612235352" class="heart"></p>
          </div>
  </div>
  <div class="arrow-container">
      <div class="arrow">
          <div class="arrow-down"></div>
      </div>
  </div>
  <!--
  <div class="card-container">
      <div class="card">
          <img src="story.jpg" class="card-image">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo.</p>
      </div>
      <div class="card">
          <img src="story.jpg" class="card-image">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo.</p>
      </div>
      <div class="card">
          <img src="story.jpg" class="card-image">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quo.</p>
      </div>
  </div>
  -->
  <div class="text-block">
          <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/pie-store.jpg?v=1612235419" class="text-image">
          <h1>One Bakery,One Mission</h1>
          <p>Going vegan use to mean putting up with bland dessert. That's when I realized it didn't have to be this way! I started baking vegan treats that I really craved after that initial bite. And so I kept baking and baking... </p>
          <button class="white-text-block-button">Read More</button>
 </div>
  <div class="cta-banner-container">
  <div class="cta-banner">
          <p>Tasty, vegan, and fresh.</p>
          <h1>It's time to pick</h1>
  </div>
  </div>
  <div class="text-block-2">
      <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/background-cakes2.png?v=1612235648" class="cakes">
      <h1>One Bakery,One Mission</h1>
      <p>Going vegan use to mean putting up with bland dessert. That's when I realized it didn't have to be this way! I started baking vegan treats that I really craved after that initial bite. And so I kept baking and baking... </p>
      <button class="black-text-block-button">Read More</button>
  </div>
  <div class="logos">
      <h1 style="text-align: center; margin-top: 20px; margin-bottom: 30px; margin-left: 37px;">We're Popular</h1>
      <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/brands-final.png?v=1612235713" class="logos-image">
</div>
  <div class="cta-container">
      <div class="cta-message">
          <h1>Questions?</h1>
          <p>We've answered all of your common questions on our "Frequently Asked Questions" page. <br> <br> Take a look at it in case you may be wondering how to get your hands on some of our treats.</p>
          <a class="link">Find answers here</a>
      </div>
      <img class="cta-image" src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/heather_bcf165e0-731d-4fc5-b273-f797ed4d8046.jpg?v=1612235736">
</div>
</body>
{{ content_for_index }}
