{% comment %}
  Your home page is build up of sections, the code for each living in
  the sections/ director.
{% endcomment %}

<body>
<div class="index-container">
<div class="menu-button-container">
    <div class="menu-button">
        <a class="see-menu" href="https://adis-test.myshopify.com/pages/menu"><p class="menu-button-text">See Menu</p></a>
    </div>
</div>
  <div class="intro">
    <div class="intro-text-container">
      <h1 class="intro-heading">Fresh Vegan Sweet Treats Made From Scratch.</h1>
      <p class="intro-text">
          We’re a small Chicago bakery that makes guilt-free treats and support impactful charities<img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/white_heart.png?v=1612235352" class="heart"></p>
      </div>
          <div class="intro-image-container">
              <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/doublechocolate.png?v=1605238727" class="intro-image">
          </div>
      </div>
</div>
  <div class="arrow-container">
      <div class="arrow">
          <div class="arrow-down"></div>
      </div>
  </div>
<div class="text-block-container">
  <div class="text-block">

          <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/pie-store.jpg?v=1612235419" class="text-image">
          
          <div class="text">
          <h1>We Want to Make a Difference</h1>
          <p>When I became vegan I was pretty upset when I realized how much of dessert was laden in dairy and eggs. I decided to try baking my own treats and now we're spreading vegan goodies to everyone in Chicago.</p>
          <button class="white-text-block-button">Read More</button>
          </div>
    </div>
</div>
<div class="logos">
    <div class="logo-heading-container">
    <h1 class="logo-heading">FEATURED ON</h1>
    </div>
    <div class="logo-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/Brands3.png?v=1613779448" class="logos-image-vertical">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/Brands_-_Horizontal.png?v=1612378540" class="logos-image-horizontal">
    </div>
  </div>

<div class="text-block-container-2">
  <div class="text-block-2">

      <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/background-cakes2.png?v=1612235648" class="cakes">
      <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/background-cakes2.png?v=1612235648" class="cakes-2">

      <div class="text-2">
      <h1>We Have Signature Treats</h1>
      <p>After baking for awhile I've chose to make certain cakes our signature treats but we'll bake new stuff for the holidays and the changing seasons, too.</p>
      <button class="black-text-block-button">Read More</button>
      </div>

  </div>
</div>

<!-- <div class="cta-banner-container">
    <div class="cta-banner">
            <p>Tasty, vegan, and fresh.</p>
            <h1>It's time to pick</h1>
    </div>
    </div>
-->

    {% section 'blog-posts' %}

  <div class="cta-container">
      <div class="cta-message">
          <h1>FAQ</h1>
          <p>We've answered all of your common questions on our "Frequently Asked Questions" page. <br> <br> Take a look at it in case you may be wondering how to get your hands on some of our treats.</p>
          <a style="text-decoration: underline;" href="adis-test.myshopify.com/a/faq" class="link">Find answers here</a>
      </div>

      <div class="cta-image-container">
      <img class="cta-image-horizontal" src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/heather_bcf165e0-731d-4fc5-b273-f797ed4d8046.jpg?v=1612235736">
      <img class="cta-image-vertical" src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/vertical-heather.jpg?v=1612378535">
    </div>
  </div>
</div>
</body>
{{ content_for_index }}

