{{ 'theme.scss.css' | asset_url | stylesheet_tag }}
{{ 'custom-theme.css' | asset_url | stylesheet_tag }}

<div class="text-block-2">
    <img src="menu-home.png" class="cakes">
    <h1>One Bakery,One Mission</h1>
    <p>Going vegan use to mean putting up with bland dessert. That's when I realized it didn't have to be this way! I started baking vegan treats that I really craved after that initial bite. And so I kept baking and baking... </p>
</div>
<div class="chip-container">
    <div class="glass-block">
        <h1>COOKIE MONSTER</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/chip.png?v=1605073327" class="chip">
</div>
<div class="sprinkles-container">
    <div class="glass-block">
        <h1>FUNFETTI RAINBOW</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/sprinkles.png?v=1605238727" class="sprinkles">
</div>
<div class="oreos-container">
    <div class="glass-block">
        <h1>COOKIES & CREAM</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/oreos.png?v=1605238727" class="oreos">
</div>
<div class="doublechocolate-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/doublechocolate.png?v=1605238727" class="doublechocolate">
</div>
<div class="rainbow-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/rainbow-chocolate.png?v=1605238727" class="rainbow">
</div>
<div class="pretzel-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/pretzels.png?v=1605238727" class="pretzel">
</div>
<div class="cta-banner-container">
    <div class="cta-banner">
        <p>Tasty, vegan, and fresh.</p>
        <h1>It's time to pick</h1>
    </div>
</div>

<div class="cta-menu-container">
    <div class="cta-menu">
        <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/background-cakes2.png?v=1612235648" class="cta-cakes">
        <h1>Order Your Favorite</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatem cupiditate nemo, reprehenderit quam quaerat, minima error quia hic nihil aspernatur mollitia in, libero illum animi sint odio atque delectus.</p>
    </div>
<button class="cta-button">ORDER</button>
</div>
<div class="custom-cakes">

</div>