{{ 'theme.scss.css' | asset_url | stylesheet_tag }}
{{ 'custom-theme.css' | asset_url | stylesheet_tag }}

<div class="text-block-2">
    <img src="menu-home.png" class="cakes">
    <h1>One Bakery,One Mission</h1>
    <p>Going vegan use to mean putting up with bland dessert. That's when I realized it didn't have to be this way! I started baking vegan treats that I really craved after that initial bite. And so I kept baking and baking... </p>
</div>
<div class="chip-container">
    <div class="glass-block">
        <h1>COOKIE MONSTER</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <div class="chip-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/chip.png?v=1605073327" class="chip">
    </div>
</div>
<div class="sprinkles-container">
    <div class="glass-block">
        <h1>FUNFETTI RAINBOW</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <div class="sprinkles-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/sprinkles.png?v=1605238727" class="sprinkles">
    </div>
</div>
<div class="oreos-container">
    <div class="glass-block">
        <h1>COOKIES & CREAM</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <div class="oreos-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/oreos.png?v=1605238727" class="oreos">
    </div>
</div>
<div class="doublechocolate-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <div class="doublechocolate-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/doublechocolate.png?v=1605238727" class="doublechocolate">
    </div>
</div>
<div class="rainbow-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <div class="rainbow-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/rainbow-chocolate.png?v=1612406431" class="rainbow">
    </div>
</div>
<div class="pretzel-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, porro! Facilis consectetur sint temporibus voluptas, vitae, beatae quos distinctio odit fugiat enim, obcaecati ad porro architecto veniam necessitatibus? Odit, exercitationem.</p>
    </div>
    <div class="pretzel-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/pretzels.png?v=1605238727" class="pretzel">
    </div>
</div>
<div class="cta-banner-container">
    <div class="cta-banner">
        <p>Tasty, vegan, and fresh.</p>
        <h1>It's time to pick</h1>
    </div>
</div>

<div class="cta-menu-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/background-cakes2.png?v=1612235648" class="cta-cakes">
    <div class="cta-menu">
        <h1>Order Your Favorite</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatem cupiditate nemo, reprehenderit quam quaerat, minima error quia hic nihil aspernatur mollitia in, libero illum animi sint odio atque delectus.</p>
        <button class="cta-button">ORDER</button>
    </div>
</div>
<div class="custom-cakes">

</div>

<style>
@media screen and (min-width: 376px) {

    /* CHIP */
    .chip-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .chip-image-container {
        display: flex;
    }


    .chip {
        width: 100%;
        left: 0;
    }

    /* SPRINKLES */
    .sprinkles-container {
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .sprinkles-image-container {
        display: flex;
    }


    .sprinkles {
        width: 100%;
        right: 0;
    }

    /* OREOS */
    .oreos-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .oreos-image-container {
        display: flex;
    }


    .oreos {
        width: 100%;
        right: 0;
    }

    /* DOUBLE CHOCOLATE */
    .doublechocolate-container {
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .doublechocolate-image-container {
        display: flex;
    }


    .doublechocolate {
        width: 100%;
        right: 0;
    }

    /* RAINBOW */
    .rainbow-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .rainbow-image-container {
        display: flex;
    }


    .rainbow {
        width: 100%;
        right: 0;
    }

    /* PRETZEL */
    .pretzel-container {
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: space-between;
    }

    .glass-block {
        width: 70%;
        margin: 15px;
        padding: 15px;
        padding-bottom: 5px;
    }

    .pretzel-image-container {
        display: flex;
    }


    .pretzel {
        width: 100%;
        right: 0;
    }

    .cta-menu-container {
        padding-bottom: 40px;
    }

    .cta-menu {
        display: flex;
        width: 90%;
    }

    .cta-button {
        align-self: start;
    }

    .cta-cakes {
        width: 90%;
    }

}
</style>