{{ 'theme.scss.css' | asset_url | stylesheet_tag }}
{{ 'custom-theme.css' | asset_url | stylesheet_tag }}

<div class="text-block-2">
    <img src="menu-home.png" class="cakes">
    <h1>Our Signature Cakes & More</h1>
    <p>Currently we offer our signature cakes along with holiday/seasonal treats. Unlike the signature cakes our seasonal treats will come and go in limited quantities so keep an eye out for some new stuff every now and then.</p>
    <p>However, our signature cakes are here to stay and you can either pick up a 6" babycake (2 layers, serves 4-6) or an 8" full sized cake (3 layers, serves 14-16).</p>
    <p>Currently we offer our signature cakes along with holiday/seasonal treats. Unlike the signature cakes our seasonal treats will come and go in limited quantities so keep an eye out for some new stuff every now and then.</p>
</div>
{% section 'menu-paragraphs' %}

<div class="chip-container">
    <div class="glass-block">
        <h1>COOKIE MONSTER</h1>
        <p>Layers of moist vanilla chip cake filled with mini chips, frosted with brown sugar and "cookie dough" buttercream. Topped with additional mini chocolate chips and freshly baked cookies!</p>
    </div>
    <div class="chip-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/chip.png?v=1605073327" class="chip">
    </div>
</div>
<div class="sprinkles-container">
    <div class="glass-block">
        <h1>FUNFETTI RAINBOW</h1>
        <p>Layers of sweet, white vanilla "sprinkle cake" frosted with vanilla buttercream and completely covered in rainbow sprinkles.</p>
    </div>
    <div class="sprinkles-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/sprinkles.png?v=1605238727" class="sprinkles">
    </div>
</div>
<div class="oreos-container">
    <div class="glass-block">
        <h1>COOKIES & CREAM</h1>
        <p>Layers of dark, moist chocolate cake filled with crushed Oreos and frosted with Oreo buttercream. The cake is covered in oreo crumble and topped with Oreo cookies.</p>
    </div>
    <div class="oreos-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/oreos.png?v=1605238727" class="oreos">
    </div>
</div>
<div class="doublechocolate-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Sweet layers of moist chocolate cake frosted with chocolate buttercream and covered in rainbow sprinkles.</p>
    </div>
    <div class="doublechocolate-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/doublechocolate.png?v=1605238727" class="doublechocolate">
    </div>
</div>
<div class="rainbow-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Layers of moist chocolate cake frosted with chocolate buttercream and covered in mini chocolate chips.</p>
    </div>
    <div class="rainbow-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/rainbow-chocolate.png?v=1612406431" class="rainbow">
    </div>
</div>
<div class="pretzel-container">
    <div class="glass-block">
        <h1>DOUBLE CHOCOLATE</h1>
        <p>Layers of moist chocolate cake frosted with chocolate buttercream and covered in mini chocolate chips.</p>
    </div>
    <div class="pretzel-image-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/pretzels.png?v=1605238727" class="pretzel">
    </div>
</div>
<div class="cta-banner-container">
    <div class="cta-banner">
        <p>Tasty, vegan, and fresh.</p>
        <h1>It's time to pick</h1>
    </div>
</div>

<div class="cta-menu-container">
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/background-cakes2.png?v=1612235648" class="cta-cakes">
    <div class="cta-menu">
        <h1>Order Your Favorite</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatem cupiditate nemo, reprehenderit quam quaerat, minima error quia hic nihil aspernatur mollitia in, libero illum animi sint odio atque delectus.</p>
        <button class="cta-button">ORDER</button>
    </div>
</div>
<div class="custom-cakes">

</div>
