{{ 'custom-theme.css' | asset_url | stylesheet_tag }}



<div class="about-block-1">
    <div class="text-about">
    <h1>Dessert but vegan.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto quisquam quidem minus nihil, hic illum rem quam, ex repellat inventore quod fugit numquam cumque saepe? Iste, ratione illo? Perferendis, quas.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/cake-slice.png?v=1612239557" class="image-block-1">
</div>
<div class="cta-banner-container">
    <div class="cta-banner">
        <p>Vegans deserve delicious treats too</p>
        <h1>It's time to pick</h1>
    </div>
</div>
<div class="about-block-2">
    <div class="text-about">
    <h1>Headline.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto quisquam quidem minus nihil, hic illum rem quam, ex repellat inventore quod fugit numquam cumque saepe? Iste, ratione illo? Perferendis, quas.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/window.jpg?v=1612417189" class="image-block-2">
</div>
<div class="cta-banner-container">
    <div class="cta-banner">
        <p>Vegans deserve delicious treats too</p>
        <h1>It's time to pick</h1>
    </div>
</div>
<div class="about-block-3">
    <div class="text-about">
    <h1>Headline.</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto quisquam quidem minus nihil, hic illum rem quam, ex repellat inventore quod fugit numquam cumque saepe? Iste, ratione illo? Perferendis, quas.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/specials.jpeg?v=1612417227" class="image-block-3">
</div>

<style>
    @media screen and (min-width: 376px) {
    .about-block-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .about-block-2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .about-block-3 {
        display: flex;
        flex-direction: row;
    }

    .text-about {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 40px;
    }

    .image-block-1, .image-block-2 {
        width: 500px;
        height: auto;
        margin: 30px;
    }

    .image-block-3 {
        width: 400px;
        height: auto;
        margin: 30px;
    }
}
</style>