{{ 'custom-theme.css' | asset_url | stylesheet_tag }}



<div class="about-block-1">
    <div class="text-about">
    <h1 class="about-heading">"Vegan Dessert"</h1>
    <p class="about-paragraph">When I first went vegan I quickly found out how unappealing the "non-dairy" desserts were. They tasted dry, heavy, and dense (but not in a good way). For vegan desserts they really tasted <i>vegan</i>.</p>
    <p class="about-paragraph">But all of the good stuff was laden with dairy and eggs. After I couldn't find what I was looking for I decided to make it myself. And after being vegan for 11 years I have to give credit to the desserts I was baking (they made being vegan taste great).</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/cake-slice.png?v=1612239557" class="image-block-1">
</div>
<div class="about-founder-container">
    <div class="about-founder">
        <img class="about-image" src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/circular-face-heather-light.png?v=1612825387">
        <p class="about-founder-heading">Heather Bodine-Lederman</p>
        <p class="about-founder-heading-small">Founder & Baker</p>
        <p class="about-founder-text">For a girl like me with the world's biggest sweet tooth, this just wouldn't do. I had to take matters into my own hands. So I started baking — and baking and baking!</p>
        <p class="about-founder-text">I baked till my oven pleaded for mercy and over fed my friends, co-workers, and boyfriend until he said "Heather, there are too many desserts in this house so please get rid of them — maybe even sell them."</p>
        <p class="about-founder-text">And that's what I did!</p>
    </div>
</div>
<div class="about-block-2">
    <div class="text-about">
    <h1 class="about-heading">Small Beginnings</h1>
    <p class="about-paragraph">In 2014 I bought a table at a local vegan market, came up with a name based off of my favorite Misfits song, and baked a ton of treats.</p>
    <p class="about-paragraph">For six years I've been hopping from one shared kitchen to another racing to bake as much as I could bring to these pop-ups and local markets — it really was a blast even without a proper shop.</p>
</div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/window.jpg?v=1612417189" class="image-block-2">
</div>
<div class="about-founder-container">
    <div class="about-founder">
        <img class="about-image" src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/circular-face-chris.png?v=1612834022">
        <p class="about-founder-heading">Christopher Andrews </p>
        <p class="about-founder-heading-small">Co-Founder & Best Friend</p>
        <p class="about-founder-text">In 2019, after running "Pie Pie, My Darling" as a one-woman show for five years, I met a wonderful man named Christopher who moved to Chicago from St. Louis.</p>
        <p class="about-founder-text">He helped me follow through with my dream of opening up my very own bakery storefront. I started a gofundme to raise funds, and with the help of my amazing customers (and my incredible partner) I was finally able to open my own shop.</p>
        <p class="about-founder-text">Christopher has become an inherent part of this business and I feel lucky every single day to be working beside my best friend.</p>
    </div>
</div>
<div class="about-block-3">
    <div class="text-about">
    <h1 class="about-heading">A Dream Come True</h1>
    <p class="about-paragraph">It's been six year since then and now that I have a real, live shop and kitchen I've been able to grow more than I thought I would — and I'm so thankful the people that have helped me get to where I am and the customers that we've baked goodies for!</p>
    <p class="about-paragraph">Without any one of you I don't think we would have become what we are today — a true vegan bakery that stands up for what's right.</p>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0441/1831/1070/files/about_4fe6e49f-a84d-48ea-b07e-a6e1a82a4b9e.jpg?v=1613004951" class="image-block-3">
</div>

<style>

    h1, p {
        margin: 5px;
        padding: 2.5px;
    }

    p {
        
        text-align: left;
    }

    .about-founder-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 800px;
    }

    .about-block-1, .about-block-2, .about-block-3 {
        height: 800px;
    }


    .about-founder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: rgb(48, 48, 48);
        font-size: 20px;
        font-weight: 600;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }

    .text-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-founder-heading {
        font-size: 22px;
        text-align: center;
        font-weight: 500;
    }

    .about-founder-heading-small {
        font-size: 16px;
        font-weight: 600;
        text-align: center; 
        margin-top: -5px;
        padding-bottom: 5px;   
    }

    .about-founder-text {
        color: rgb(48, 48, 48);
        font-size: 16px;
        font-weight: 500;
        width: 80%;
        margin-top: 15px;
        padding-bottom: 10px;
    }

    .about-image {
        width: 175px;
        height: auto;
        margin-bottom: 15px;
    }

    .about-heading {
        font-size: 30px;
        font-weight: 500;
        padding-top: 0;
        margin-bottom: 20px;
    }

    .about-paragraph {
        font-size: 24px;
        margin-bottom: 25px;
    }

    @media screen and (max-width: 376px) {
        .text-about {

        }

        .about-heading {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .about-paragraph {
        width: 80%;
        font-size: 16px;
        margin-left: 10px;
        margin-bottom: 25px;
    }

    }

    @media screen and (min-width: 376px) {
    .about-block-1 {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .about-block-2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .about-block-3 {
        display: flex;
        flex-direction: row;
    }

    .text-about {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 40px;
    }

    .about-founder-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 300px;
    }

    .image-block-1, .image-block-2 {
        width: 500px;
        height: auto;
        margin: 30px;
    }

    .image-block-3 {
        width: 400px;
        height: auto;
        margin: 30px;
    }
}
</style>